<!DOCTYPE html>
<html>
  <head>
    <title>Hotel Sentiment Prediction</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/index.css')}}">
  </head>
  <body>
    <div class="MainContainer">
    <form action="{{ url_for('predict') }}" method="post">
      <h1>Sentiment Predictor Form</h1>
      <div class="formcontainer">
      <hr/>
      <div class="container">
        <label for="uname"><strong>Review</strong></label>
        <input type="text" placeholder="Enter your feelings about a hotel you stayed in or a vacation." name="uname" required>
      </div>
      <button type="submit">Get Predicted sentiment score</button>
      
    </form>

    <div class = "predictionContainer">
    {{prediction_text}}
    </div>

    <div class = "instructions">
      <h3>Instructions</h3>
      <ul>
        <li>Predicted Sentiment score for your input will be given on a scale of 1 to 5, 
          where 1 being the most negative and 5 being the most positive</li>
        <li>Think of the score that you would give to the entered text, and compare with
          the predicted sentiment of the machine learning model.</li>
      </ul>
      </div>
    
    <div class = "repolink">
      <a href = "https://github.com/janchilling/Hotel_Reviews">GitHub Repository Link</a>
    </div>
    </div>
    


  </body>
</html>
