<!DOCTYPE html>
<html>
  <head>
    <title>Hotel Sentiment Prediction</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/index.css')}}">
  </head>
  <body>
    <div class="MainContainer">
    <form action="{{ url_for('predict') }}" method="post">
      <h1>Prediction Form</h1>
      <div class="formcontainer">
      <hr/>
      <div class="container">
        <label for="uname"><strong>Review</strong></label>
        <input type="text" placeholder="Enter the Review text" name="uname" required>
      </div>
      <button type="submit">Get Predicted sentiment score</button>
      
    </form>

    <div class = "predictionContainer">
    {{prediction_text}}
    </div>
    <div class = "repolink">
      <a href = "https://github.com/janchilling/Hotel_Reviews">GitHub Repository Link</a>
    </div>
    </div>
    


  </body>
</html>
